SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=
DB_PATH=/app/data/prod.db

# Cloudflare R2
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET=likelion-khu-prod
R2_PUBLIC_URL=https://<custom-domain-or-r2-dev-url>
